In [1]:
import os
import pandas as pd
import numpy as np
import nibabel as nb
import matplotlib.pyplot as plt

In [2]:
control_csv_path = '../CSV_metadata/metadata_control_2.csv'
pd_csv_path = '../CSV_metadata/metadata_PD_2.csv'

In [3]:
PD_df = pd.read_csv(pd_csv_path)
PD_df.head()
print(len(PD_df))

4057

In [4]:
PD_df.keys()

Index(['siteKey', 'researchGroup', 'subjectIdentifier', 'visitIdentifier',
       'studyIdentifier', 'seriesIdentifier', 'subjectSex', 'subjectAge',
       'ageQualifier', 'weightKg', 'dateAcquired', 'imageUID', 'description',
       'Acquisition Type', 'Weighting', 'Pulse Sequence', 'Slice Thickness',
       'TE', 'TR', 'TI', 'Coil', 'Flip Angle', 'Acquisition Plane', 'Matrix X',
       'Matrix Y', 'Matrix Z', 'Pixel Spacing X', 'Pixel Spacing Y',
       'Manufacturer', 'Mfg Model', 'Field Strength'],
      dtype='object')

In [5]:
PD_df.head()

,siteKey,researchGroup,subjectIdentifier,visitIdentifier,studyIdentifier,seriesIdentifier,subjectSex,subjectAge,ageQualifier,weightKg,...,Flip Angle,Acquisition Plane,Matrix X,Matrix Y,Matrix Z,Pixel Spacing X,Pixel Spacing Y,Manufacturer,Mfg Model,Field Strength
0,34,PD,100001,Baseline,168485,1047642,M,67.38,Y,87.0,...,120,SAGITTAL,256,256,192,1.00000,1.00000,SIEMENS,Verio,3.0
1,34,PD,100001,Baseline,168485,1047641,M,67.38,Y,87.0,...,120,SAGITTAL,256,256,192,1.00000,1.00000,SIEMENS,Verio,3.0
2,34,PD,100001,Baseline,168485,1047640,M,67.38,Y,87.0,...,20,AXIAL,512,512,5,0.48828,0.48828,SIEMENS,Verio,3.0
3,34,PD,100001,Baseline,168485,1047640,M,67.38,Y,87.0,...,20,CORONAL,512,512,5,0.48828,0.48828,SIEMENS,Verio,3.0
4,34,PD,100001,Baseline,168485,1047640,M,67.38,Y,87.0,...,20,SAGITTAL,512,512,5,0.48828,0.48828,SIEMENS,Verio,3.0

In [6]:
PD_df['Pulse Sequence'].unique()

array(['SE/IR', 'GR', 'SE', 'EP', 'GR/IR', 'GR/GR/GR/GR/GR',
       'IR/IR/IR/IR/IR', 'RM', 'IR', 'EP/SE', 'IR/SE', 'IR/GR',
       'SE/SE/SE/SE/SE', nan], dtype=object)

In [7]:
PD_df['Acquisition Plane'].unique()

array(['SAGITTAL', 'AXIAL', 'CORONAL'], dtype=object)

In [8]:
PD_df['Weighting'].unique()

array(['T2', 'T1', 'PD'], dtype=object)

In [9]:
## pd id proton density